@using EntityLayer.Concrete
@model List<Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>
@foreach (var item2 in Model)
{
    if (item2.AppUser != null && item2.EventDetail != null)
    {
        <div class="card shadow mb-3 border-light">
            <div class="card-header bg-light d-flex justify-content-between align-items-center">
                <span>Ad Soyad: @item2.AppUser.Name @item2.AppUser.Surname</span>
            </div>
            <div class="card-body">
                <h5 class="card-title">Aktivite Adı: @item2.EventDetail.EventName</h5>
                <p class="card-text">
                    Yorum: @item2.Comment
                </p>

                <form method="post" action="/Admin/Comment/Confirm">
                    <input type="hidden" name="TestimonialID" value="@item2.TestimonialID" />
                    <button type="submit" class="btn btn-primary">Onayla</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning">Yorum bilgisi eksik.</div>
    }
}


