@model EntityLayer.Concrete.Reservation

@{
    ViewData["Title"] = "UpdateReservation";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

<form method="post">
    @Html.HiddenFor(x=>x.ReservationID)
    <div class="form-group">
        @Html.Label("kullanıcı adı")
        <input type="text" asp-for="AppUser.Name"  class="form-control" readonly/>
    </div>
    <div class="form-group">
        @Html.Label("kullanıcı soyadı")
        <input type="text" asp-for="AppUser.Surname" class="form-control" readonly />
    </div>
    <div class="form-group">
        @Html.Label("Katılan kişi")
        <input type="text" asp-for="Participant" class="form-control" readonly />
    </div>
    <div class="form-group">
        @Html.Label("açıklama")
        <input type="text" asp-for="Description" class="form-control" readonly />
    </div>
    <div class="form-group">
        @Html.Label("Durum")
        <input type="text" asp-for="Status" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Aktivite Adı")
        <input type="text" asp-for="EventDetail.EventName" class="form-control" readonly/>
    </div>

    <button class="btn btn-warning">Güncelle</button>
</form>
