@using EntityLayer.Concrete
@model List<Reservation>

@{
    ViewData["Title"] = "AllReservations";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


@if (!Model.Any())
{
  
    <div class="container mt-5">
        <h4 style="color:crimson">işlenen rezervasyonunuz bulunmamaktadır..</h4>
    </div>
}
else
{

    @foreach (var item2 in Model)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">@item2.EventDetail.EventName</h6>
                <span class="text-end">@item2.EventDetail.StartDate - @item2.EventDetail.EndDate</span>
            </div>
            <div class="card-body">
                <h5 class="card-title"> @item2.Status</h5>
                <p class="card-text">Aktivite Türü: @item2.EventDetail.EventType</p>
                <p class="card-text"> Başvuru Tarihi: @item2.ApplicationDate</p>
                <p class="card-text">Katılımcı: @item2.Participant</p>

                <a href="/Member/Comment/Index" class="btn btn-success">Yorum Yap</a>
            </div>
        </div>
    }
}
