@model KidCamp.Areas.Instructor.Models.InstructorEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/InstructorLayout.cshtml";
}



<h4>Eğitmen Profil Sayfası</h4>
<form method="post">
    @Html.Label("Adınız")
    <input type="text" asp-for="name" class="form-control" />
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="surname" class="form-control" />
    <br />
    @Html.Label("Mailiniz")
    <input type="text" asp-for="mail" class="form-control" disabled />
    <br />
    @Html.Label("Şifreniz")
    <input type="text" asp-for="password" class="form-control" />
    <br />
    @Html.Label("Şifre Tekrar")
    <input type="text" asp-for="confirmpassword" class="form-control" />
    <br />
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
